
{:paths ["source-code/cljs"]
 :deps  {mt-extensions/reagent-utils {:git/url "https://github.com/mt-extensions/reagent-utils"
                                      :sha     "0527ffbf5a08305dfd4376a78c007f53c1a311b2"}
         bithandshake/cljc-fruits    {:git/url "https://github.com/bithandshake/cljc-fruits"
                                      :sha     "289bfaa76c90632b4332e89a226eb657e7eb4107"}
         mt-utilities/cljc-time      {:git/url "https://github.com/mt-utilities/cljc-time"
                                      :sha     "880512f25278823fb72bb1fe96036be32573a83a"}
         org.clojure/clojurescript   {:mvn/version "1.10.891"}
         reagent/reagent             {:mvn/version "1.2.0"}}}
